<h1 align="center" class="display-4">Categories</h1>
<a
  *ngIf="currentUser?.role == Role.Customer"
  style="color: inherit"
  routerLink="/seller/product/new"
  class="float-right mb-3"
  ><i class="fas fa-plus fa-2x">Add</i>
</a>
<table id="table" class="table table-striped text-center" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of page?.content">
      <td class="align-middle">{{ category.categoryId }}</td>
      <td class="align-middle">{{ category.categoryName }}</td>
      <td class="align-middle">
        <a
          style="display: block"
          routerLink="/seller/category/{{ category.categoryId }}/edit"
        >
          Edit</a
        >

        <a style="display: block" routerLink="/" (click)="remove(category)">
          Remove</a
        >
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
